
  .pred-container {
    margin-bottom: 20px;
  }

  .pred-container > div {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
  }

  .row {

    display: table-column;
    display: flex;
    flex-wrap: wrap;

  }
  .cell {
    display: table-cell;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    
  }

  #file-container {
    margin-bottom: 20px;
  }


  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  header {
    color: #fff;
    text-align: center;
    padding: 5px 0;
    text-shadow: 1px 1px 2px #95b6a2;
    font-size: 3em;
  }

  .container {
    width: 55%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    
    border-radius: 8px;
    margin-top: 30px;
    
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

  img{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
input[type="file"] {
    display: none;
}

  label:hover{
    background-color: white;
    color: #fff;
  }

  .centering{
    text-align: center;
  }

  .img1{
    width: 110%;
  }
